@page "{id:int}"
@model EditMusicModel
@{
    ViewData["Title"] = "Manage Music";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h1>@Model.Message</h1>
        <form method="post">
            <fieldset>
                <div class="form-group">
                    <label for="inputId">ID</label>
                    <input type="text" class="form-control" id="inputId" name="inputId" placeholder="ID" disabled="" value="@Model.Music.Id">
                    <input type="hidden" class="form-control" name="hiddenId" value="@Model.Music.Id">
                </div>
                <div class="form-group">
                    <label for="inputName">Nombre de la canción</label>
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Nombre de la canción" value="@Model.Music.Name">
                </div>
                <div class="form-group">
                    <label for="inputAlbum">Nombre del Album</label>
                    <input type="text" class="form-control" id="inputAlbum" name="inputAlbum" placeholder="Nombre del Album" value="@Model.Music.Album">
                </div>
                <div class="form-group">
                    <label for="inputGenre">Género</label>
                    <input type="text" class="form-control" id="inputGenre" name="inputGenre" placeholder="Género" value="@Model.Music.Genre">
                </div>
                <div class="form-group">
                    <label for="inputArtist">Nombre del Artista</label>
                    <input type="text" class="form-control" id="inputArtist" name="inputArtist" placeholder="Nombre del Artista" value="@Model.Music.Artist">
                </div>
                <div class="form-group">
                    <label for="inputYear">Año</label>
                    <input type="text" class="form-control" id="inputYear" name="inputYear" placeholder="Año" value="@Model.Music.Year">
                </div>
            </fieldset>
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>